* {
  box-sizing: border-box;
  font-family: "Source San Pro", sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1110px;
  margin: auto;
  width: 80%;
}

.navbar {
  margin: 50px 0;
}

.navbar-brand {
  color: black;
  font-weight: bold;
}

#lg {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  display: flex;
}
.a {
  margin-top: 5px;
}
.nav__link {
  font-size: 14px;
  margin-right: 50px;
  margin-top: 2.5%;
  text-decoration: none;
  color: #222222;
}

.header__button {
  width: 33.15px;
  height: 33.15px;
  background-color: #0066ff;
  color: white;
  border: none;
  margin-right: 10px;
}

.header__right__button {
  width: 104px;
  height: 39px;
  border-color: #0066ff;
  color: #0066ff;
  background-color: white;
  font-size: 14px;
  border: solid;
}

.table__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.table__span__2 {
  font-size: 14px;
  color: #77767e;
  font-style: normal;
  margin-bottom: 20px;
}

.table__span__1 {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
}

.news__right__button {
  width: 117px;
  height: 39px;
  border-color: #0066ff;
  color: #0066ff;
  background-color: white;
  font-size: 14px;
  border: solid;
}

.news__blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news__container {
  margin-top: 50px;
}

.news__header {
  display: flex;
  justify-content: space-between;
}

.news__header__left {
  flex-direction: row;
}

.news__blocks__left,
.news__blocks__centre {
  margin-right: 30px;
}

.news__blocks__centre__bottom {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.news__blocks__1 {
  width: 255px;
  height: 255px;
  margin-bottom: 30px;
  background-image: url(./photos/1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.news__blocks__1__bottom {
  height: 118px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.inner__block__top {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.65);
}

.inner__block__bottom {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

.news__blocks__2 {
  width: 540px;
  height: 389px;
  min-width: 290px;
  background-color: rgb(0, 51, 255);
  margin-bottom: 30px;
  background-image: url(./photos/gabrielle-henderson-ZyhjHpICm0E-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.news__blocks__2__bottom {
  height: 102px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.news__blocks__3 {
  width: 255px;
  height: 674px;
  background-color: rgb(0, 123, 255);
  background-image: url(./photos/ludvig-wiese-d-MfHM-jHwc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.news__blocks__3__bottom {
  height: 118px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.news__blocks__4 {
  width: 255px;
  height: 389px;
  background-color: aqua;
  background-image: url(./photos/2.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.news__blocks__4__bottom {
  height: 118px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.news__blocks__centre__bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.news__blocks__5 {
  width: 255px;
  height: 255px;
  /* background-color: rgb(0, 51, 255); */
  margin-right: 25px;
  background-image: url(./photos/dollar-gill-UK3GFwYr3wQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.news__blocks__5__bottom {
  height: 118px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.news__blocks__6 {
  width: 255px;
  height: 255px;
  /* background-color: rgb(41, 41, 41); */
  background-image: url(./photos/toni-hukkanen-Eu7Oq-Yc4us-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.news__blocks__6__bottom {
  height: 118px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.footer__container {
  background: #0066ff;
  height: 470px;
  color: white;
}

.footer__container__textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table__circle__green {
  display: flex;
  width: 15px;
  height: 15px;
  background: #4cd964;
  border-radius: 50%;
  justify-self: center;
}

.table__circle__red {
  display: flex;
  width: 15px;
  height: 15px;
  background: #ff4e3d;
  border-radius: 50%;
  justify-self: center;
}

.table__circle__grey {
  display: flex;
  width: 15px;
  height: 15px;
  background: linear-gradient(180deg, #a5aab7 0%, #848993 100%);
  border-radius: 50%;
  justify-self: center;
}

thead {
  color: #9a99a2;
}

.centre {
  text-align: center;
}

.point {
  display: flex;
  width: 145px;
  height: 28px;
}

table {
  width: 100%;
}

th,
td,
tr {
  border-color: #9a99a2;
  border: 0.1px;
}

.table__button {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  color: #4e4e53;
  background-color: #f7f7fa;
  margin-right: 10px;
  border-style: none;
}

footer {
  background: #0066ff;
  margin-top: 30px;
}

.footer__textarea {
  display: flex;
  flex-direction: column;
}

.textarea__top {
  margin-bottom: 40px;
  margin-top: 100px;
  color: white;
  font-size: 57px;
  font-weight: bold;
}

.textarea__middle {
  max-width: 560px;
  font-size: 16px;
  color: white;
  margin-bottom: 40px;
  font-style: normal;
  line-height: 20px;
}

.textarea__bottom {
  display: flex;
  flex-wrap: wrap;
}

.textarea__buttom__right {
  display: flex;
}

.logo1 {
  margin-top: 5px;
  width: 20px;
  height: 20px;
}

.logo2 {
  margin-top: 7px;
  width: 18px;
  height: 18px;
  margin-left: 40px;
  background-image: url("/logos/fb.svg");
  background-size: cover;
}

.logo3 {
  margin-top: 7px;
  width: 18px;
  height: 18px;
  margin-left: 40px;
  background-image: url("/logos/Vector.svg");
  background-size: cover;
}

.textarea__bottom__email {
  width: 173px;
  height: 40px;
  color: white;
  border: 2px solid #ffffff;
  background-color: #0066ff;
  margin-right: 40px;
  margin-bottom: 23px;
}

.footer__end {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-brand {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer__button {
  width: 33.15px;
  height: 33px;
  background-color: white;
  color: #0066ff;
  border: none;
  margin-right: 10px;
}

.textarea__bottom__email:hover {
  color: #0066ff;
  background-color: white;
}

.footer-rights {
  font-size: 16px;
  color: white;
}

.b:hover {
  color: WHITE;
  background: #0066ff;
  border: solid;
}

.nav-link:hover {
  color: #0066ff;
}
.btn_hover {
  border-color: #ffffff;
  border: solid;
  width: 158px;
  height: 39px;
  background-color: #0066ff;
  font-size: 14px;
  color: white;
  display: none;
  margin-bottom: 80px;
}
.news__blocks__2:hover .btn_hover {
  display: block;
  margin: auto;
}

.news__blocks__2:hover {
  background: #1555f9;
  padding-bottom: 70px;
}

@media screen and (max-width: 320px) {
  .body,
  .html {
    width: 290px;
  }
  .wrapper {
    max-width: 290px;
    margin-left: 15px;
  }
  .navbar {
    margin-bottom: 30px;
  }
  .navbar-brand {
    width: 27px;
    margin-right: 0;

    /* height: 27px; */
  }

  .nav__link {
    font-size: 12px;
    margin-right: 20px;
  }

  .header__right__button {
    width: 85px;
    height: 27px;
    font-size: 12px;
    margin-top: 1px;
  }
  .a {
    display: none;
  }
  .navbar {
    width: 290px;
  }
  .table__button {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
  }
  .table__span__1 {
    font-size: 22px;
  }
  #ts2 {
    width: 200px;
  }
  .table__span__2 {
    font-size: 12px;
    width: 290px;
  }

  table {
    width: 290px;
    font-size: 13px;
  }
  .row {
    text-align: center;
  }

  .news__right__button {
    width: 90px;
    height: 27px;
    font-size: 11px;
  }

  .news__blocks__1,
  .news__blocks__2,
  .news__blocks__3,
  .news__blocks__4,
  .news__blocks__5,
  .news__blocks__6 {
    width: 290px;
    height: 290px;
    margin-left: 0;
  }
  .news__blocks__5 {
    margin-right: 0;
  }
  .news__blocks__4,
  .news__blocks__5,
  .news__blocks__6 {
    margin-bottom: 25px;
  }

  .textarea__top {
    font-size: 24px;
  }
  .textarea__middle {
    font-size: 14px;
    height: 54px;
    width: 290px;
  }
}
